.event
  position: absolute
  border-radius: 6px
  border: white 1px solid

  background-color: black
  min-height: 20px
  padding-left: 8px

  cursor: pointer

  &__selected
    border: green 5px solid !important
    //z-index: 5004 !important

  &__min
    height: 20px
  &-text
    color: white
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    padding: 1px

    cursor: pointer
  &-popup
    display: flex
    flex-direction: column
    //height: 100%
    *
      vertical-align: middle
      display: inline-block