.event
  position: absolute
  border-radius: 4px
  background-color: black
  min-height: 20px
  margin: 3px
  padding-left: 8px
  &__min
    height: 20px
  &-text
    color: white
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    padding-inline: 2px