.header {

  top: 0;
  width: 100%;
  background: #342E2E;
  &-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  &__title{

    display: flex;
    justify-content: space-around;
    align-items: center;
    h3{
      color:white;
      margin-left: 30px;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size:26px;
    }
    img{
      border-radius:12px;
      width: 52px;
      height: 52px;
      top: 19px;
    }
  }
  &__selector{
    align-self: auto;
    flex-direction: row;
    select{
      outline: none;
      color: #E56353;
      background-color: #342E2E;
      height: 40px;
      font-size: 24px;
      font-family: Roboto,sans-serif;
      border-color: #E56353;
      font-weight: bold;
      border-radius: 5px;
      padding-left: 10px;
    }
  }

  &__login{
    align-items: center;
    display: flex;

    h3 {
      color:white;
      margin-left: 15px;
      font-family: 'Open Sans', sans-serif;
    }
    img{

      width: 67px;
      height: 67px;
      border-radius:50%;
      border: 3px solid #544D4D;

    }

  }

}
@media only screen and (min-width: 786px){

}