.header {
  //position: fixed;
  top: 0;
  width: 100%;
  background: #342E2E;
  z-index: 5;

  &-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &-title{
    display: flex;
    justify-content: space-around;
    align-items: center;

    h3{
      color:white;
      margin-left: 30px;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size:26px;
      user-select: none;
    }
    img{
      user-select: none;
      border-radius:12px;
      width: 52px;
      height: 52px;
      top: 19px;
      cursor:pointer;
    }
  }
  &-selector{
    align-self: auto;
    align-items: center;

    select{
      cursor: pointer;
      outline: none;
      color: #E56353;
      background-color: #342E2E;
      height: 40px;
      font-size: 24px;
      font-family: Roboto,sans-serif;
      border-color: #E56353;
      font-weight: bold;
      border-radius: 5px;
      padding-left: 10px;

    }
  }

  &-login{

    display: flex;
    /* flex-flow: column wrap;*/

    h3 {
      color:white;
      margin-left: 15px;
      font-family: 'Open Sans', sans-serif;
      flex: 100%;
      left: -10;
      user-select: none;


    }
    &__icon{
      margin-left: 15px;
      width: 67px;
      height: 67px;
      border-radius:50%;
      border: 3px solid #544D4D;
      cursor: pointer;

    }

    &-menu_admin {
      li {list-style-type: none;
        margin: 35px 0 0;
        padding-left: 120px;

      }
      z-index: 999;
      box-shadow: 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%), 0 11px 15px -7px rgb(0 0 0 / 20%);
      position: absolute;
      width: 470px;
      height: 500px;
      right: 100px;
      top: 97px;
      background: #342E2E;

      border-radius: 8px;

      h2{
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        padding-left: 15px;
      }

      img{

        border-radius:50%;
        border: 3px solid #544D4D;
        height: 160px;
      }
      button{
        background-color: #342E2E;
        border-color: #dadce0;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        text-decoration: none;
        margin-left: 45px;
        padding: 8px 16px;
        size: 0;
        cursor: pointer;
      }
    }
    &-menu_user{
      li {list-style-type: none;
        margin: 35px 0 0;
        padding-left: 120px;

      }
      z-index: 999;
      box-shadow: 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%), 0 11px 15px -7px rgb(0 0 0 / 20%);
      position: absolute;
      width: 470px;
      height: 420px;
      right: 100px;
      top: 97px;
      background: #342E2E;

      border-radius: 8px;

      h2{
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        padding-left: 15px;
      }

      img{

        border-radius:50%;
        border: 3px solid #544D4D;
        height: 160px;
      }
      button{
        background-color: #342E2E;
        border-color: #dadce0;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        text-decoration: none;
        margin-left: 45px;
        padding: 8px 16px;
        size: 0;
        cursor: pointer;
      }

    }
  }
}
@media only screen and (max-width: 786px){
.header{

  &-login{
    img{
      display:none;
    }
    h3{
      display:none;
    }
  }
  &-selector{

    select{

      height: 30px;
      font-size: 18px;
      font-family: Roboto,sans-serif;
      border-color: #E56353;
      font-weight: bold;
      border-radius: 5px;


    }

  }
  &-title{

    h3{

      color:white;
      margin-left: 15px;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size:18px;
    }
    img{
      border-radius:12px;
      width: 38px;
      height: 38px;
      top: 19px;
    }
  }
}
}