.month-event
  border-radius: 4px
  height: 20px
  margin: 3px
  padding: 0 8px

  background-color: black

  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  color: white
  text-align: start